<div class="container-fluid">
    <img class="img-responsive" src="../images/navbar-brand.png" alt="navbar-brand" height="50px"></img>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#GPCMenu"
        aria-controls="GPCMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="GPCMenu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li id="nav-link-home" class="nav-item">
                <a class="nav-link" href="../">Home</a>
            </li>

            <li id="nav-link-chiSiamo" class="nav-item">
                <a class="nav-link" href="../chiSiamo">Chi siamo</a>
            </li>

            <div class="dropdown nav-item dropdown-div">
                <a class="dropdown-button nav-link dropdown-toggle" href="../progetti">Progetti</a>
                <ul class="yellow dropdown-link dropdown-menu dropdown-content"
                    aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" href="../dateStoriche" style="text-align: center;">Date Storiche</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="../dataPassata" style="text-align: center;">Data Passata</a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</div>