.yellow {
    background: var(--yellow-logo)
}

.dropdown-button {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    clear: both;
    font-weight: 400;
    color: var(--yellow-logo);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-content {
    display: none;
}

.dropdown-div:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--yellow-logo);
}

.navbar .navbar-nav .nav-link {
    color: black !important;
    margin-right: 0.2em;
    text-align: center;
}

.link{
    position: relative;
}

.link:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    bottom: -10px;
    left: 0;
    transform-origin: left;
    transition: transform .5s ease;
    transform: scaleX(0);
}

.link:hover:after {
    transform: scaleX(1);
}