body{
    width: 100vh;

    background-color: #ffd000;
}

#avviso{
    font-family: "Century Gothic", "Montserrat", sans-serif;
    text-align: center;
    
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img{
    width: 100%;
    max-width: 30vw;
}

h1{
    font-size: 50px;
    margin: 0px;
}

p{
    font-size: 20px;
    margin: 0px;
}

button{
    color: black;
    background-color: white;
    font-size: 25px;
    border-radius: 10px;
    margin: 10px;
}

/* CSS for mobile */
@media (max-width: 480px) {
    img{
        min-width: 80vw;
    }
}