body {
	font-family: "Montserrat", sans-serif;
	background-image: url("/images/IMG_3886.webp");

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	min-width: 100%;
	min-height: 100vh;

	overflow: hidden;
}

#title {
	font-size: 40px;
	text-align: center;
	color: #ffd000;
	text-shadow: 2px 2px 4px #000000;

	/* Center the title */
	position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}